body{
	background-color:#FDF3E7;
	background-image:url("../images/homeback.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
img{
	margin-left: 20%;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

